<div class="container">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="">Username</label>
      <input
        formControlName="username"
        class="form-control"
        type="text"
        name=""
        id=""
      />
      <div
        *ngIf="fc.username.touched && fc.username.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="fc.username.errors?.required">The username is required</div>
        <div *ngIf="fc.username.errors?.minlength">
          The username must be at least 6 characters
        </div>
        <div *ngIf="fc.username.errors?.noSpaceVal">
          The username must not have space
        </div>
        <div *ngIf="fc.username.errors?.firstLetterCapitalized">
          The username must have first letter capitalized
        </div>
        <div *ngIf="fc.username.errors?.pattern">
          username must not contain numbers
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input
        class="form-control"
        type="email"
        formControlName="email"
        type="text"
      />
      <div *ngIf="fc.email.touched && fc.email.invalid">
        <div class="alert alert-danger" *ngIf="fc.email.errors?.required">
          The email is required
        </div>
        <div class="alert alert-danger" *ngIf="fc.email.errors?.minlength">
          The email must be at least 10 characters
        </div>
        <div class="alert alert-danger" *ngIf="fc.email.errors?.noSpaceVal">
          The email must not have space
        </div>
        <div class="alert alert-danger" *ngIf="fc.email.errors?.pattern">
          write right email address
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input
        formControlName="password"
        type="password"
        name=""
        id=""
        class="form-control"
      />
      <div
        *ngIf="fc.password.touched && fc.password.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="fc.password.errors?.required">The password is required</div>
        <div *ngIf="fc.password.errors?.minlength">
          The password must be at least 8 characters
        </div>
      </div>
    </div>
    <button
      [disabled]="form.invalid"
      (click)="Submit()"
      class="btn btn-primary"
    >
      Submit
    </button>
  </form>
</div>
